# The url of the WebDAV server endpoint
EXCITE_WEBDAV_URL=
# The path within the WebDAV space to the directory containing the model data
EXCITE_WEBDAV_MODEL_PATH=
# The username that is used when logging into the server
EXCITE_WEBDAV_USER=
# The password of that user
EXCITE_WEBDAV_PASSWORD=
# Set this if the Zotero storage folder is not located in ~/Zotero/storage
ZOTERO_STORAGE_PATH=
# The hostname or IP of the host that runs the docker container, defaulst to "host.docker.internal"
# which works for Windows & Mac. Needs to be set for Linux hosts
DOCKER_HOST=
