EXparser/lists/abv.csv filter=lfs diff=lfs merge=lfs -text
EXparser/lists/cities.csv filter=lfs diff=lfs merge=lfs -text
EXparser/lists/edt.csv filter=lfs diff=lfs merge=lfs -text
EXparser/lists/journals.csv filter=lfs diff=lfs merge=lfs -text
EXparser/lists/names.csv filter=lfs diff=lfs merge=lfs -text
EXparser/lists/publishers.csv filter=lfs diff=lfs merge=lfs -text
EXparser/lists/stopwords.csv filter=lfs diff=lfs merge=lfs -text
EXparser/lists/lists.ods filter=lfs diff=lfs merge=lfs -text
EXparser/Models/0.1.0/default/* filter=lfs diff=lfs merge=lfs -text
