EXparser/Utils/rf_de.pkl filter=lfs diff=lfs merge=lfs -text
EXparser/Utils/rf_en.pkl filter=lfs diff=lfs merge=lfs -text
EXparser/Utils/kde_atag_de.pkl filter=lfs diff=lfs merge=lfs -text
EXparser/Utils/kde_gtag_en.pkl filter=lfs diff=lfs merge=lfs -text
EXparser/Utils/kde_llen_en.pkl filter=lfs diff=lfs merge=lfs -text
EXparser/Utils/kde_ntag_de.pkl filter=lfs diff=lfs merge=lfs -text
EXparser/Utils/kde_tlen_de.pkl filter=lfs diff=lfs merge=lfs -text
EXparser/Utils/kde_wtag_en.pkl filter=lfs diff=lfs merge=lfs -text
EXparser/Utils/kde_atag_en.pkl filter=lfs diff=lfs merge=lfs -text
EXparser/Utils/kde_dtag_de.pkl filter=lfs diff=lfs merge=lfs -text
EXparser/Utils/list.db filter=lfs diff=lfs merge=lfs -text
EXparser/Utils/FSN.npy filter=lfs diff=lfs merge=lfs -text
EXparser/Utils/kde_dtag_en.pkl filter=lfs diff=lfs merge=lfs -text
EXparser/Utils/kde_gtag_de.pkl filter=lfs diff=lfs merge=lfs -text
EXparser/Utils/kde_llen_de.pkl filter=lfs diff=lfs merge=lfs -text
EXparser/Utils/kde_ltag_de.pkl filter=lfs diff=lfs merge=lfs -text
EXparser/Utils/kde_ltag_en.pkl filter=lfs diff=lfs merge=lfs -text
EXparser/Utils/crf_model_de.pkl filter=lfs diff=lfs merge=lfs -text
EXparser/Utils/crf_model_en.pkl filter=lfs diff=lfs merge=lfs -text
EXparser/Utils/kde_ntag_en.pkl filter=lfs diff=lfs merge=lfs -text
EXparser/Utils/kde_tlen_en.pkl filter=lfs diff=lfs merge=lfs -text
EXparser/Utils/kde_wtag_de.pkl filter=lfs diff=lfs merge=lfs -text
EXparser/Utils/* filter=lfs diff=lfs merge=lfs -text
EXparser/lists/abv.csv filter=lfs diff=lfs merge=lfs -text
EXparser/lists/cities.csv filter=lfs diff=lfs merge=lfs -text
EXparser/lists/edt.csv filter=lfs diff=lfs merge=lfs -text
EXparser/lists/journals.csv filter=lfs diff=lfs merge=lfs -text
EXparser/lists/names.csv filter=lfs diff=lfs merge=lfs -text
EXparser/lists/publishers.csv filter=lfs diff=lfs merge=lfs -text
EXparser/lists/stopwords.csv filter=lfs diff=lfs merge=lfs -text
EXparser/Utils/crf_model.pkl filter=lfs diff=lfs merge=lfs -text
EXparser/Utils/rf.pkl filter=lfs diff=lfs merge=lfs -text
EXparser/Utils/SMN.npy filter=lfs diff=lfs merge=lfs -text
