body {
    margin1: 0;
    padding: 0;
    background: #e5e9f9 !important;
    font-size: medium !important;
}

nav {
    height:70px;
}

#navbar-buttons {
    padding: 20px;
}

#main-container {
    margin-top: 80px;
}

.grid-container {
    margin: 5px;
}

.iframecss {
    border: 1px solid #779caf !important;
    height: 100%;
    width: 100%;
}

.view-text-display {
    font-family: Menlo,Monaco,Consolas,"Courier New",monospace !important;
    font-size: small !important;
    border: 1px solid #779caf;
    cursor: text;
    white-space: nowrap !important;
    overflow: scroll;
    padding: 10px;
}

.view-markup-display  {
    overflow: scroll;
    border: 1px solid #779caf;
    font-size: small !important;
}

#btn-upload, #btnToggleMarkedUpView, #btndeltxt, #btnfindPrevRef, #btnfindNextRef {
    display: none;
}

.nowrap {
    white-space: nowrap !important;
}

/* CSS grid, done with https://grid.layoutit.com/?id=d5AowTC */
.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 50% 50%;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "view-text view-pdf"
    "view-markup view-markup";
  width: 100%;
  height: 90%;
}

.view-text {
  display: grid;
  grid-template-columns: 1.4fr 0.6fr;
  grid-template-rows: 30px auto;
  grid-auto-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: column;
  grid-template-areas:
    "view-text-label view-text-buttons"
    "view-text-display view-text-display";
  grid-area: view-text;
  height: 100%;
}

.view-text-display { grid-area: view-text-display; }

.view-text-label { grid-area: view-text-label; }

.view-text-buttons { grid-area: view-text-buttons; }

.view-pdf {
  display: grid;
  grid-template-columns: 1.4fr 0.6fr;
  grid-template-rows: 30px auto;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "view-pdf-label view-pdf-buttons"
    "view-pdf-display view-pdf-display";
  grid-area: view-pdf;
}

.view-pdf-display { grid-area: view-pdf-display; }

.view-pdf-label {

  grid-area: view-pdf-label;
  height: 30px;
}

.view-pdf-buttons {

  grid-area: view-pdf-buttons;
  height: 30px;
}

.view-markup {
  display: grid;
  grid-template-columns: 1.5fr 0.5fr;
  grid-template-rows: 30px auto;
  grid-auto-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "view-markup-label view-markup-buttons"
    "view-markup-display view-markup-display";
  grid-area: view-markup;
  height: 100%;
}

.view-markup-label { grid-area: view-markup-label; }

.view-markup-buttons { grid-area: view-markup-buttons; }

.view-markup-display { grid-area: view-markup-display; }
