html, body {
    height: 100%
}

body {
    padding: 0;
    background: #e5e9f9 !important;
    font-size: medium !important;
    margin: 0;
    overflow: hidden;
}

nav {
    border-width: 0px;
}

.navbar {
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 0;
    margin-bottom: 0px !important;
}

.navbar-brand {
    margin-right: 0px !important;
}

.navbar-brand {
    padding: 0px !important;
}

.dropdown-menu {
    z-index: auto;
}

#app-logo {
    height: 40px;
    margin: 5px;
}

#app-title {
    float: right;
    margin-top: 20px;
}

#navbar-buttons {
    padding-right: 10px;
}

.iframecss {
    border: 1px solid #779caf !important;
    height: 100%;
    width: 100%;
}

#page-navigation {
    margin-left: 5px;
    margin-right: 5px;
}

#label-page-number {
    width: 20px;
    font-size: x-small;
    text-align: center;
}

#pdf-label, #text-label {
    vertical-align: middle;
    padding-left: 10px;
    overflow: hidden;
}

.view-text-buttons > *,
.view-pdf-buttons > *,
#refs-navigation > *,
#page-navigation > * {
    vertical-align: middle;
}

#text-content > .page-marker {
    width: 100%;
    height: 1px;
    border: none;
}

.page-marker::before {
    content: "Page " attr(data-page);
    font-size: 12px;
    position: relative;
    float: right;
    cursor: pointer;
    padding: 2px;
    background: lightgray;
}

#text-content > .page-marker ~ .page-marker {
    border: 1px black dotted;
}

.view-text-display {
    font-family: Menlo,Monaco,Consolas,"Courier New",monospace !important;
    font-size: small !important;
    border: 1px solid #779caf;
    cursor: text;
    overflow: scroll;
    padding: 10px;
    white-space: nowrap !important;
}

.view-markup-display  {
    overflow: scroll;
    border: 1px solid #779caf;
    font-size: small !important;
}

.view-text-buttons {
    display: none;
}

/* tags */
[data-tag] {
    border: 1px grey dotted;
}

[data-tag="ref"]:nth-child(7n) {
    background-color: rgb(255, 255, 153);
}
[data-tag="ref"]:nth-child(7n-1) {
    background-color: rgb(252, 201, 108);
}
[data-tag="ref"]:nth-child(7n-2) {
    background-color: rgb(236, 184, 249);
}
[data-tag="ref"]:nth-child(7n-3) {
    background-color: rgb(152, 230, 249);
}
[data-tag="ref"]:nth-child(7n-4) {
    background-color: rgb(135, 245, 168);
}
[data-tag="ref"]:nth-child(7n-5) {
    background-color: rgb(244, 132, 112);
}
[data-tag="ref"]:nth-child(7n-6) {
    background-color: rgb(111, 252, 226);
}
[data-tag="oth"] {
    background-color: rgb(162, 165, 165);
}

[data-tag="other"] {
    background-color: #f4858e;
}
[data-tag="other"] {
    background-color: #f4858e;
}
[data-tag="surname"] {
    background-color: #ffce30;
}
[data-tag="given-names"] {
    background-color: #aabb30;
}
[data-tag="year"] {
    background-color: #bfb1d5;
}
[data-tag="title"] {
    background-color: #adddcf;
}
[data-tag="source"] {
    background-color: #abe1fd;
}
[data-tag="editor"] {
    background-color: #fed88f;
}
[data-tag="volume"] {
    background-color: #ffff66;
}
[data-tag="fpage"] {
    background-color: #ccff66;
}
[data-tag="lpage"] {
    background-color: #ffb3ff;
}
[data-tag="publisher"] {
    background-color: #79d279;
}
[data-tag="issue"] {
    background-color: #659bf2;
}
[data-tag="url"] {
    background-color: #5befdb;
}
[data-tag="identifier"] {
    background-color: #d19bf7;
}

/* CSS grid, done with https://grid.layoutit.com/?id=d5AowTC */
.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 50% 50%;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "view-text view-pdf"
    "view-markup view-markup";
  width: 100%;
  height: 90%;
}

.view-text {
  display: grid;
  grid-template-columns: 1.2fr 0.8fr;
  grid-template-rows: 30px auto;
  grid-auto-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: column;
  grid-template-areas:
    "view-text-label view-text-buttons"
    "view-text-display view-text-display";
  grid-area: view-text;
  height: 100%;
}

.view-text-display { grid-area: view-text-display; }

.view-text-label { grid-area: view-text-label; }

.view-text-buttons { grid-area: view-text-buttons; }

.view-pdf {
  display: grid;
  grid-template-columns: 1.4fr 0.6fr;
  grid-template-rows: 30px auto;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "view-pdf-label view-pdf-buttons"
    "view-pdf-display view-pdf-display";
  grid-area: view-pdf;
}

.view-pdf-display { grid-area: view-pdf-display; }

.unselectable {
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.view-pdf-label {
  grid-area: view-pdf-label;
  height: 30px;
}

.view-pdf-buttons {
  grid-area: view-pdf-buttons;
  height: 30px;
}

.view-markup {
  display: grid;
  grid-template-columns: 1.5fr 0.5fr;
  grid-template-rows: 30px auto;
  grid-auto-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "view-markup-label view-markup-buttons"
    "view-markup-display view-markup-display";
  grid-area: view-markup;
  height: 100%;
}

.view-markup-label { grid-area: view-markup-label; }

.view-markup-buttons { grid-area: view-markup-buttons; }

.view-markup-display { grid-area: view-markup-display; }
